<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://db:5432/jdbcDB"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <bean id="database" class="org.example.db.Database">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="userService" class="org.example.service.UserService">
        <property name="database" ref="database"/>
    </bean>
</beans>
